.money {
  margin: 5rem;
}

.vendingMachine {
  border: 1px solid black;
  display: flex;
  margin: auto;
  padding: 2rem;
  background-color: white;
}

.screen {
  font-family: "digital-7";
  font-size: 2rem;
  text-align: center;
  height: 2rem;
  background-color: darkgreen;
}

.keypadContainer {
  flex-shrink: 0;
}

.keypad {
  border: 2px solid black;
  padding: 0 1rem 1rem 1rem;
}

.products {
  padding-right: 2rem;
}

.shelf {
  display: flex;
  height: 5.5rem;
}
