.money {
  margin: 5rem;
}

.vendingMachine {
  border: 1px solid black;
  display: flex;
  margin: auto;
  padding: 2rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(69, 69, 69, 1) 100%
  );
}

.screen {
  position: relative;
  font-family: "digital-7 (mono)";
  font-size: 2rem;
  text-align: right;
  height: 2rem;
  background-color: darkgreen;
  padding: 0.2rem 0.4rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.screen.scrolling > span {
  text-align: left;
}

.screen > span {
  flex: 1;
  white-space: nowrap;
}

.screen:before {
  border: 2px solid rgba(77, 77, 77, 1);
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 70%,
    rgba(255, 255, 255, 0.1) 99%
  );
}

.keypadContainer {
  flex-shrink: 0;
  width: 10rem;
}

.keypad {
  background: rgb(164, 164, 164);
  background: linear-gradient(
    45deg,
    rgba(164, 164, 164, 1) 0%,
    rgba(187, 187, 187, 1) 41%,
    rgba(255, 255, 255, 1) 76%,
    rgba(187, 187, 187, 1) 100%
  );
  border-radius: 1rem;
  padding: 1rem;
}

.keyPadRow {
  display: flex;
  justify-content: space-evenly;
}

.products {
  position: relative;
  background-color: black;
  border-radius: 1rem;
  margin-right: 2rem;
  padding: 1rem 0 0 0;
}

.products:before {
  border: 2px solid rgba(77, 77, 77, 1);
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  z-index: 1;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 64%,
    rgba(255, 255, 255, 0.1) 99%
  );
}

.shelf {
  display: flex;
  height: 5.5rem;
  margin-bottom: 0.4rem;
}

.shelf:last-child {
  margin: 0;
}

.door {
  height: 5rem;
  background: #333;
  border-radius: 1rem;
  box-shadow: inset 5px 3px 5px 5px rgba(33, 33, 33, 1);
}

.doorFrame {
  margin: 2rem 4rem 0 2rem;
  background: linear-gradient(
    45deg,
    rgba(75, 75, 75, 1) 0%,
    rgba(50, 50, 50, 1) 100%
  );
  padding: 0.25rem;
  border-radius: 1rem;
}
